@model ParentCHildRelationshipPT1.Models.RecipeUserView

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>


<div>
    <h4>Recipe</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipeTimeToComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipeTimeToComplete)
        </dd>
        
        <dd class="col-sm-10">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">

                </ol>
                <div class="carousel-inner">
                   

                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>


        </dd>
    </dl>
    
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>